@import 'ember-paper';
@import 'images';

$facebook-color: #3b5998;
$twitter-color: #1da1f2;

$google-color-green: #3cba54;
$google-color-yellow: #f4c20d;
$google-color-red: #db3236;
$google-color-blue: #4885ed;

.text-align-center {
  text-align: center;
}

.facebook-login {
  background: $facebook-color;
  color: white;
}

.twitter-login {
  background: $twitter-color;
  color: white;
}

.google-login {
  border-width: 3px;
  border-style: solid;
  border-top-color: $google-color-green;
  border-right-color: $google-color-yellow;
  border-bottom-color: $google-color-red;
  border-left-color: $google-color-blue;
}

body > .ember-view, .app-container {
  height: 100%;
  width: 100%;
}

.add-exercise-btn {
  position: absolute;
  right: 20px;
  bottom: 32px;
}

.card-media-weightlifting {
  height: 64px;
  width: 64px;
  background: url($barbell-image);
}

.card-media-cardio {
  height: 64px;
  width: 64px;
  background: url($heartbeat-image);
}

.card-weight-last {
  font-size: 15px;
  color: $google-color-green;
}

.card-weight-max {
  font-size: 15px;
  color: $google-color-red;
}
