{{ember-load-remover}}

<div id="crossbit-app" class="app-container layout-column flex" >
  {{application-toolbar}}
  {{#paper-content class="app-container"}}
    {{ outlet }}
  {{/paper-content}}
</div>
{{user-login}}
