{{#paper-toolbar warn=true as |toolbar|}}
     {{#toolbar.tools}}
       <h2>Crossbit</h2>
       <span class="flex"></span>
       {{#if session.isAuthenticated}}
         {{#paper-button onClick="signOut"}}
           {{paper-icon "exit_to_app"}}
         {{/paper-button}}
       {{/if}}
     {{/toolbar.tools}}
{{/paper-toolbar}}

{{#unless session.isAuthenticated}}
  {{#paper-dialog clickOutsideToClose=true escapeToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title text-align-center">Iniciar sessión</h2>

      <div class="layout-column align-center">
        {{#paper-button class="facebook-login" onClick=(route-action 'signIn' 'facebook')}}Facebook{{/paper-button}}
        {{#paper-button class="twitter-login" onClick=(route-action 'signIn' 'twitter')}}Twitter{{/paper-button}}
        {{#paper-button class="google-login" onClick=(route-action 'signIn' 'google')}}Google{{/paper-button}}
      </div>
    {{/paper-dialog-content}}
  {{/paper-dialog}}
{{/unless}}
{{ outlet }}
